html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.app {
  margin: 0 auto;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: black;
  margin-bottom: 20px;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.current {
  border-bottom: 4px solid white;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}

.gameparticipantreport {
  margin-bottom: 20px;
  page-break-after: always;
}

.participant-header {
  margin-bottom: 20px;
  background-color: lightgray;
}

.participant-id {
  display: flex;
  justify-content: center;
}

.day-details {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20%;
}

.day-details > p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.test {
  background-color: blue;
}

@media print
{    
  .no-print, .no-print *
  {
      display: none !important;
  }

  .print-together, .print-together *
  {
      break-inside:avoid;
  }
}